* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*    border: 1px solid white;*/
}

body {
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    font-family: ABeeZee, helvetica, sans serif;
    /* color: rgb(150, 193, 195); */
    color: rgb(255, 158, 116);
    background-color: #ffbf8d;
    width: 100%;
    margin: 0 auto;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.header {
    background-color: #ffbf8d;
    max-height: 80vh;
}

#features1 {
    background-color: #96c2c4;
}

#features2 {
    background-color: #4a4a4a;
}

.box {
    padding: 5%;
    padding-top: 5%;
}

.box2 {
    width: 50%;
    height: auto;
    min-height: 200px;
    text-align: center;
    margin: 0 auto;
}

.download {
    width: 35%;
    min-width: 125px;
    padding: 5%;
    border-radius: 5px;
    background-color: #96c2c4;
    color: #4a4a4a;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 20%;
    box-shadow: 5px 5px 2px rgba(66, 90, 92, 0.2);
}


/* ---

IMAGES 

--- */

.mockup {
    width: 100%;
}

.app-mockup {
    width: auto;
    max-height: 100%;
}

.logo {
    width: 40%;
    height: auto;
    text-align: center;
}


/*----------

Text styling

----------*/

h1 {
    text-align: center;
}

h2 {
    font-size: 20px;
    text-align: center;
    margin-top: 0;
    color: #4a4a4a;
}

h3 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 0;
    padding-top: 5%;
    color: #4a4a4a;
}

a {
text-decoration: none;
    color: inherit;
}

.download:hover {
    background-color: #88b7b9;
/*    box-shadow: 0 0 0;*/

}





